body {
    background-color: #d3e9fc;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: black;
}

header {
    background-color: #13648a;
    text-align: center;
    color: white;
    padding: 5px;
    border-bottom: 5px solid rgb(184, 119, 0);
}

h1 {
    font-size: 40px;
}

header p {
    font-size: 16px;
    margin-top: 10px;
}

nav {
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color: #bae2ff;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #003d6b;
    font-size: 18px;
    margin: 0px 15px;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bold;
}

a:hover {
    background-color: #0d90cc;
    color: white;
}

h2 {
    color: #003d6b;
    border-bottom: 3px solid rgb(184, 119, 0);
    padding-bottom: 10px;
    text-align: center;
    font-size: 27px;
}

.content {
    display: flex;
    margin: 20px 0px;
}

img {
    border-radius: 15px;
    margin-right: 60px;
    border: 5px solid #01599c;
}

.text {
    flex: 1;
}

table {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

td {
    border: 2px solid #00aeff;
    background-color: #cfebff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #13648a;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid rgb(184, 119, 0);
    margin-top: 50px;
}

div {
    background-color: white;
    margin: 20px;
    padding: 25px;
    border-radius: 15px;
    border: 3px solid #bae2ff;
}
